form button {
    font-size: 20px;
    min-width: 200px;
    margin: 40px auto;
    display: block;
    padding: 10px;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    background: #fabe33;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

form button:hover {
    background: #f2b527;
}