.container {
    max-width: 850px;
    background: #f1f1f1;
    border: 1px solid #363636;
    padding:25px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  }